.searchBoxContainer{
    width:50%;
    margin:auto;
    margin-top:5%;
}

#searchInput{
    position: relative;
    padding-left: 30px;
    font-size: 30px;
    width: 100%;
    height:50px;
    opacity: 0.9;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(128,128,128, 0.30);
    border: 1px solid rgba(128,128,128,0.3);
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: none;
    background: #fff;
    transition: all 0.3s ease;
    z-index: 10000;
    color:black;
}

#searchInput:focus {
    box-shadow: 0 3px 3px rgba(128,128,128, 0.20);
}

input,
input::-webkit-input-placeholder {
    color:rgba(128,128,128, 0.80);
}